<style>
body {
  background: White;
  font-family: Kanit; /* Sukhumvit Set, Kanit */

  letter-spacing: -0.165px;
}

.custom-select { /* Select Tag */
  font-family: Kanit; /* Sukhumvit Set, Kanit */

  padding: 10px 10px 10px 12px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  border-radius: 16px;
  width: 327px;
  height: 56px;

  font-size: 16px;
  font-weight: 400;
  color: #6E798C;
}

table {
    /* border-collapse: collapse; */
    border-radius: 16px;
    border: 1px solid #F2F2F2;

    width: 327px;

    background: #FFFFFF;
}

tr {
    height: 72px;
}

td {
    border-bottom: 1px solid #F2F2F2;
    padding: 12px
}

tr:last-child td {
    border-bottom: 0px;
}

.merchant-items {
  position: absolute;
  width: 375px;
  height: 78px;
  left: 0px;
  margin-top: 67px;

  /* General / White */

  background: #FFFFFF;
  /* General / Light Grey */

  border: 1px solid #F2F2F2;
}

.merchant-items p {
    color: #404040;
    font-weight: 500;
    font-size: 20px;

    margin: 24px;
}

</style>



<h1 style="color: #E08477; font-size: 24px;">ประวัติการใช้สิทธิ์กิจกรรม</h1>
<h2 style="color: #6E798C; font-size: 16px;">#นครพนมรวมใจ</h2>
<h3 style="color: #AFB5C0; font-size: 12px; font-weight: 500;">เมืองรองที่พร้อมเสมอ</h3>

<br>

<span>รอบกิจกรรม</span>
<div>
  <select class="custom-select">
    <option value="1">01/07/2564</option>
    <option value="2">02/07/2564</option>
    <option value="3">03/07/2564</option>
    <option value="4">04/07/2564</option>
    <option value="5">05/07/2564</option>
  </select>
</div>

<p style="margin: 25px 0px 12px 0px">
    <span style="margin-right: 171px;color: #E08477;">รายการใช้สิทธิ์</span>
    4 <span style="margin-left: 8px; color: #6E798C;">รายการ</span>
</p>



<table>
  <tr>
    <td style="font-size: 16px;">ID-Coupon <br>
        000000</td>
    <td style="text-align: right;"><span style="font-size: 20px; font-weight: 500; color: #17C950;">1 สิทธิ์</span> <br>
        <span style="font-size: 13px; color: #6E798C;">01 ก.ค. 2564 - 00:00</span></td>
  </tr>
  <tr>
    <td style="font-size: 16px;">ID-Coupon <br>
        000000</td>
    <td style="text-align: right;"><span style="font-size: 20px; font-weight: 500; color: #17C950;">1 สิทธิ์</span> <br>
        <span style="font-size: 13px; color: #6E798C;">01 ก.ค. 2564 - 00:00</span></td>
  </tr>
  <tr>
    <td style="font-size: 16px;">ID-Coupon <br>
        000000</td>
    <td style="text-align: right;"><span style="font-size: 20px; font-weight: 500; color: #17C950;">1 สิทธิ์</span> <br>
        <span style="font-size: 13px; color: #6E798C;">01 ก.ค. 2564 - 00:00</span></td>
  </tr>
  <tr>
    <td style="font-size: 16px;">ID-Coupon <br>
        000000</td>
    <td style="text-align: right;"><span style="font-size: 20px; font-weight: 500; color: #17C950;">1 สิทธิ์</span> <br>
        <span style="font-size: 13px; color: #6E798C;">01 ก.ค. 2564 - 00:00</span></td>
  </tr>
</table>

<br>

<div class="merchant-items">
    <p>ยอดรวม (บาท) <span style="float: right;">200.00</span></p>
</div>